body{
    /* background: black; */
    background-image: url('8x8.png');
    background-size: 10%;
    
}

.box{
    height: 100px;
    width: 100px;
    background: rgb(193, 111, 35);
    display: inline-block ;
}

.title{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(255, 72, 72);
}

h1{
    font-size: 50px;
}

.shape{
position: absolute;
}

.shapetwo{
position: absolute;
}

.box{
position: absolute;
}

.boxTwo{
    position: absolute;
}

.smallbox{
position: absolute;

}


.shapFour{
position: absolute;
}