body{
    background-color: rgb(125, 125, 125);
}

.box{
    height: 100px;
    width: 100px;
    background: rgb(193, 111, 35);
    display: inline-block ;
}

.title{
    text-align: center;
    color: aliceblue;
}

h1{
    color: white;
}

